.App {
  text-align: center;
  font-size: 32px;
  margin: 30px 30px;
  max-width: 960px;
  margin: 0 auto;
}

.App h1 {
  font-size: 32px;
  opacity: 0.8;
  font-family: "Delius Unicase", cursive;
}

.App h4 {
  font-size: 18px;
  opacity: 0.8;
  font-weight: 400;
}

.App-footer {
  font-size: 14px;
  opacity: 0.8;
}

.App-footer a {
  text-decoration: none;
  color: #cf7979;
  transition: all 150ms ease-in-out;
}

.App-footer a:hover {
  color: black;
  opacity: 0.8;
}
