.Phonetics {
  font-size: 18px;
  margin-top: 15px;
  line-height: 40px;
}

.Phonetics a {
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 14px;
  color: #cf7979;
  line-height: 30px;
  padding: 4px 8px;
  margin-right: 20px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Phonetics a:hover {
  background-color: #cf7979;
  color: #f5e1da;
  border: 1px solid #cf7979;
}
