.Photos img {
  border-radius: 3px;
  margin-bottom: 20px;
}

.Photos .pexelsLink {
  font-size: 14px;
  opacity: 0.8;
}

.Photos .pexelsLink a {
  text-decoration: none;
  font-size: 14px;
  color: #cf7979;
  transition: all 150ms ease-in-out;
}

.Photos .pexelsLink a:hover {
  color: black;
  opacity: 0.8;
}

@media (max-width: 600px) {
  .Photos .col-4 {
    width: 100%;
  }

  .Photos .pexelsLink {
    text-align: left;
  }
}
