section {
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 3px 3px 8px 0px rgba(207, 121, 121, 0.9);
  background-color: white;
  margin-top: 20px;
  padding: 30px;
}

.Results h2 {
  font-size: 32px;
  font-weight: 600;
  opacity: 0.8;
  line-height: 42px;
}
