.Synonyms {
  margin-bottom: 0;
}

.Synonyms ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  font-size: 18px;
  opacity: 0.8;
  margin: 0;
  line-height: 0;
}

.Synonyms li {
  padding-right: 17px;
}
